---
import CleanLayout from "../layouts/CleanLayout.astro";
import "../styles/globals.css";
---

<CleanLayout title="Impressum">
  <link href="/styles/global.css" />

  <h1 class="text-3xl font-bold mb-4">Impressum</h1>
  <p>Angaben gemäß § 5 TMG:</p>

  <p>
    Jeremy Malik Klampt<br />
    Hagenerstraße 26<br />
    29365 Sprakensehl<br />
    Deutschland
  </p>

  <p>
    Vertreten durch:<br />
    Jeremy Malik Klampt
  </p>

  <p>
    Kontakt:<br />
    Telefon: +49 1607602074<br />
    E-Mail: <a href="mailto:support.gamet.studios@gmail.com"
      >support.gamet.studios@gmail.com</a
    ><br />
  </p>
</CleanLayout>
